<h2>Submission</h2>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3" style="margin-top: 1%;">
    <% if(typeof(submissions) !== 'undefined') { %>
        <% submissions.forEach(submission => { %>
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 style="font-weight: 700; color: rgb(19, 202, 172);"><%= submission.name %> </h5>
                        <p class="card-text">
                           <%- submission.description %> 
                        </p>
                        <div class="d-flex justify-content-between align-items-center" style="margin-bottom: 4px">
                            <div class="btn-group" style="margin-right: 4px;">
                                <span>By <span style="color: rgb(243, 182, 67);"><%= submission.user.fullname %></span></span>
                            </div>
                        </div>
                        <i style="color: rgb(121, 121, 121)" class="fa-solid fa-stopwatch"></i>
                        <small class="text-muted">
                            <% if(submission.closure_date > Date.now()) { %>
                                <%= formatDateSubmission(submission.closure_date, 'MMMM Do YYYY, h:mm:ss A') %>
                            <% } else { %>
                                <%= formatDateSubmission(submission.final_closure_date, 'MMMM Do YYYY, h:mm:ss A') %> 
                            <% } %>     
                        </small>
                        <a href="/all-ideas/<%= submission._id %>" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        <% }) %>
    <% } %>  
</div>

